p {
  margin: 0 0 15px 0;
  padding: 0;
}

.Preview {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.PreviewBtn {
  padding: 0;
  margin: 0;
  font-size: 70px;

  border: none;
  cursor: pointer;
  background-color: transparent;
  color: red;
}

.PreviewTextContainer {
  margin: 0 0 65px 0;
}
