input,
label {
  display: block;
}

.QuestionLabel {
  margin: 0 0 10px 0;
  font-size: 30px;
}

.QuestionInput {
  padding: 5px 30px;
  margin: 0 0 20px 0;
  font-size: 15px;

  color: white;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
}
